.footer {
    background-color: rgb(28, 115, 168);
    color: #fff;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

ul li a:hover {
    text-decoration: underline;
}

.fab {
    margin-right: 10px;
}
